@model AllProductsViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="Entete text-center">
    <div><h3>Dealy meal planner</h3></div>
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-warning"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-secondary"></div>
    <div class="spinner-grow text-dark"></div>
    <div class="spinner-grow text-light"></div>
</div>

<div class="row">
    <div class="Category-section col-2">
        <div class="Category"><h6>Category</h6></div>
        <hr />
        <div class="row">
            @foreach(string name in Model.CategoryList)
            {
                <div>
                    <a asp-controller="Home" asp-action="index" asp-route-catName="@name"><h7 class="subCategory">@name</h7></a>
                </div>
            }
        </div>
    </div>
    <div class="Details col-10">
        <div><h6>Details</h6></div>
        <hr />
        <div class="row text-center justify-content-center">
            @foreach(var c in Model.Categories)
            {
                if(c.Name == Model.CatName)
                {
                    foreach(var p in c.Products)
                    {
                        <div class="formation-block col-sm-6 col-md-3 col-lg-3">
                            <h6>@p.Name</h6>
                            <hr />
                            <p>Gramms: @p.Gramms g</p>
                            <p>Protein: @p.Protein</p>
                            <p>Fats: @p.Fats</p>
                            <p>Carbs: @p.Carbs</p>
                            <p>Calories: @p.Calories</p>

                            <hr />
                            <form asp-controller="Home" asp-action="index" asp-route-catName="">
                                <input type="submit" value="Add" class="btn-sm btn-outline-success" />
                                <input type="hidden" name="idFormation" value="@p.CategoryName" />
                                <input type="hidden" name="idFormation" value="@p.Name" />
                            </form>
                        </div>
                    }
                    
                }         
            }
        </div>
    </div>
</div>