@model AllProductsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="Entete text-center">
    @*<div>
        <img src="images\best-meal-planning-apps_lead.png" />
    </div>*@
    
    <div><h3>Dealy Meal Planner</h3></div>
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
</div>

<div>
    <form asp-controller="Home" asp-action="index">
        <div class="Category-block">
            <div>
                <select name="catName" class="form-control">
                    @if ((Model.CatName == string.Empty || @Model.CatName == null) && Model.CategoryList.Count > 0)
                    {
                        Model.CatName = Model.CategoryList[0];
                    }
                    @if (@Model.CatName == string.Empty || @Model.CatName == null)
                    {
                        @foreach (string name in Model.CategoryList)
                        {
                            <option>@name</option>
                        }
                    }
                    else
                    {
                        <option>@Model.CatName</option>
                        @foreach (string name in Model.CategoryList)
                        {
                            if (name != Model.CatName)
                            {
                                <option>@name</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="justify-content-center">
                <button type="submit" class="btn btn-outline-primary mt-3">Search</button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="Details col-12">
        <div>
            <i class="fa-solid fa-universal-access fa-3 orange"></i>
            <i class="fa-solid fa-universal-access fa-3 orange"></i>
            <i class="fa-solid fa-universal-access fa-3 orange"></i>
        </div>
        <div class="row text-center justify-content-center">
            @foreach(var c in Model.Categories)
            {
                @if(c.Name == Model.CatName)
                {
                    @foreach(var p in c.Products)
                    {
                        <div class="Product-block col-sm-6 col-md-3 col-lg-3">
                            @if (p.CategoryName == "Алкоголь")
                            {
                                <h6><span class="fa-solid fa-wine-bottle fa-shake fa-2x orange"></span> @p.Name</h6>
                            }
                            else
                            {
                                <h6>@p.Name</h6>
                            }
                            <hr />
                            <div class="row justify-content-center">
                                <div class="Product-block01 col-12"><p>Gramms: @p.Gramms g</p></div>
                                <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Protein: @p.Protein</p></div>
                                <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Fats: @p.Fats</p></div>
                                <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Carbs: @p.Carbs</p></div>
                                <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Calories: @p.Calories</p></div>
                            </div>
                            
                            <form asp-controller="Mealtime" asp-action="index">
                                <button type="submit" class="btn btn-outline-dark mt-3">Add</button>
                                <input type="hidden" name="ProductName" value="@p.Name" />
                                <input type="hidden" name="Gramms" value="@p.Gramms" />
                                <input type="hidden" name="Protein" value="@p.Protein" />
                                <input type="hidden" name="Fats" value="@p.Fats" />
                                <input type="hidden" name="Carbs" value="@p.Carbs" />
                                <input type="hidden" name="Calories" value="@p.Calories" />
                                <input type="hidden" name="CatName" value="@p.CategoryName" />
                                
                            </form>
                        </div>
                    }
                }         
            }
        </div>
    </div>
</div>

<br />
<svg viewBox="10 50 500 100" xmlns="http://www.w3.org/2000/svg">
    <path fill="#F1C21B" d="M44.7,24.5C32.6,46.7,-20,44.3,-34.2,20.8C-48.3,-2.6,-24.2,-47.1,2.1,-45.9C28.4,-44.7,56.7,2.2,44.7,24.5Z" transform="translate(100 100)" />
</svg>

<div class="offcanvas offcanvas-start bg-dark" id="demo">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title">Product category</h3>
        <button type="button" class="btn-close text-reset text-light" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row justify-content-center container01">
            <div class="subContainer col-sm-12 col-md-6 col-lg-6">
                <div class="Category-section col-12">
                    <div><h6>Category</h6></div>
                    <hr />
                    <div class="row">
                        <ul class="navbar-nav flex-grow-1">
                            @foreach (string name in Model.CategoryList)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-warning subCategory" asp-action="index" asp-route-catName="@name"><h7 class="subCategory">@name</h7></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button to open the offcanvas sidebar -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Categories
</button>