@model ProductViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center container01">
    <div class="subContainerEdit col-sm-4 col-md-4 col-lg-6 m-5">
        <div class="text-center">
            <h5 class="NameStyle text-warning">Mealtimes</h5>
            <hr />
        </div>
        <br />
        <form asp-controller="Mealtime" asp-action="SaveUserProduct">
            <div>
                <label class="NameStyle">Select mealtime</label>
                <select name="MealtimeChoice" class="form-control bg-dark text-warning">
                    @foreach(string mealtime in Model.Mealtimes)
                    {
                        <option>@mealtime</option>
                    }
                </select>
            </div>
            <div class="button01 text-center">
                <button type="submit" class="btn btn-outline-success mt-4">Submit</button>
                <input type="hidden" name="ProductName" value="@Model.ProductName" />
                <input type="hidden" name="Gramms" value="@Model.Gramms" />
                <input type="hidden" name="Protein" value="@Model.Protein" />
                <input type="hidden" name="Fats" value="@Model.Fats" />
                <input type="hidden" name="Calories" value="@Model.Calories" />
                <input type="hidden" name="CatName" value="@Model.CatName" />
                <input type="hidden" name="UserNameOrEmail" value="@User.Identity?.Name!.ToString()" />
            </div>
            
        </form>
    </div>
</div>