@model UserMealtimeViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="Entete text-center">
    <div><h3 class="title">User</h3></div>
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
</div>

<div class="body-block03">
    <form asp-controller="User" asp-action="index" asp-action="Index" asp-route-username="@User.Identity?.Name">
    
    <div class="mealtimeName-block-user">
        <h5>Mealtime</h5>
    </div>
    <div class="Category-block">
        <div>
            <select name="mealtimeChoice" class="form-control bg-dark text-warning border-0 border-dark">
                @if (@Model.MealtimeChoice == string.Empty)
                {
                    @foreach (string name in Model.MealtimeNames)
                    {
                        <option>@name</option>
                    }
                }
                else
                {
                    <option>@Model.MealtimeChoice</option>
                    @foreach (string name in Model.MealtimeNames)
                    {
                        @if (name != Model.MealtimeChoice)
                        {
                            <option>@name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="text-warning align-content-end">
            <input type="text" name="Age" value="Age" class="mt-2 text-warning form-control" />
        </div>
        <div class="justify-content-center">
            <button type="submit" class="btn btn-outline-success mt-2">Search</button>
        </div>
    </div>
</form>
</div>

<div class="body-block02">
<div class="row mealtime-block-user">
    <div class="Category-section-user col-2">
        <div class="Header-section-user-prod"><h6>Categories</h6></div>
        <div class="progress" style="height:2px">
            <div class="progress-bar bg-success" style="width:@Model.ProgressBarC%; height:2px"></div>
        </div>
        <br />
        <div>
            <ul class="navbar-nav flex-grow-1">
                @foreach (var m in Model.Mealtimes)
                {
                    @if(m.MealtimeName == Model.MealtimeChoice)
                    {
                        <!-- print category names according to the mealtime chosen by the user -->
                        @foreach(var c in m.Categories)
                        {
                            @if(c.Name == Model.CategoryChoice)
                            {
                                <li class="nav-item CategoryNameBg-select">
                                    <a class="nav-link CategoryNameCol-select" asp-controller="User" asp-action="index" asp-route-mealtimeChoice="@Model.MealtimeChoice" asp-route-categoryChoice="@c.Name" asp-action="Index" asp-route-username="@User.Identity?.Name"><h7 class="subCategory">@c.Name</h7></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item CategoryNameBg-nselect">
                                    <a class="nav-link CategoryNameCol-nselect" asp-controller="User" asp-action="index" asp-route-mealtimeChoice="@Model.MealtimeChoice" asp-route-categoryChoice="@c.Name" asp-action="Index" asp-route-username="@User.Identity?.Name"><h7 class="subCategory">@c.Name</h7></a>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
    
    <div class="Details col-10">
        <div>
            <div class="Header-section-user-prod">
                <i class="fa-solid fa-universal-access fa-10 orange"></i>
                    <span class="orange">Products</span>
            </div>
            <div class="progress" style="height:2px">
                <div class="progress-bar bg-success" style="width:@Model.ProgressBarMT%; height:2px"></div>
            </div>
            <div class="row text-center justify-content-center">
                @foreach (var m in Model.Mealtimes)
                {
                    @if (m.MealtimeName == Model.MealtimeChoice)
                    {
                        @foreach (var c in m.Categories)
                        {
                            if (c.Name == Model.CategoryChoice)
                            {
                                <!-- print products according to the category chosen by the user -->
                                @foreach (var p in c.Products)
                                {
                                    <div class="Product-block col-sm-6 col-md-3 col-lg-3">
                                        @if (p.CategoryName == "Алкоголь")
                                        {
                                            <h6><span class="fa-solid fa-wine-bottle fa-shake fa-2x orange"></span> @p.ProductName</h6>
                                        }
                                        else
                                        {
                                            <h6>@p.ProductName</h6>
                                        }
                                        <hr />
                                        <div class="row justify-content-center">
                                            <div class="Product-block01 col-12"><p>Gramms: <strong>@p.Gramms g</strong></p></div>
                                            <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Protein <strong>@p.Protein</strong></p></div>
                                            <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Fats <strong>@p.Fats</strong></p></div>
                                            <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Carbs <strong>@p.Carbs</strong></p></div>
                                            <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Calories <strong>@p.Calories</strong></p></div>
                                        </div>
                                
                                        <form asp-controller="User" asp-action="EditUserProduct" method="post">
                                            <button type="submit" class="btn btn-outline-dark mt-3 NameStyle">Edit</button>
                                            <input type="hidden" name="MealtimeChoice" value="@Model.MealtimeChoice" />
                                            <input type="hidden" name="ProductName" value="@p.ProductName" />
                                            <input type="hidden" name="Gramms" value="@p.Gramms" />
                                            <input type="hidden" name="Protein" value="@p.Protein" />
                                            <input type="hidden" name="Fats" value="@p.Fats" />
                                            <input type="hidden" name="Carbs" value="@p.Carbs" />
                                            <input type="hidden" name="Calories" value="@p.Calories" />
                                            <input type="hidden" name="CatName" value="@p.CategoryName" />
                                        </form>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
</div>