@model UserMealtimeViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="Entete text-center">
    <div><h3>User</h3></div>
    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
</div>


<form asp-controller="User" asp-action="index">
    <div class="Category-block">
        <div>
            <select name="mealtimeChoice" class="form-control">
                @if ((Model.MealtimeChoice == string.Empty || @Model.MealtimeChoice == null) && Model.MealtimeNames.Count > 0)
                {
                    Model.MealtimeChoice = Model.MealtimeNames[0];
                }
                @if (@Model.MealtimeChoice == string.Empty || @Model.MealtimeChoice == null)
                {
                    @foreach (string name in Model.MealtimeNames)
                    {
                        <option>@name</option>
                    }
                }
                else
                {
                    <option>@Model.MealtimeChoice</option>
                    @foreach (string name in Model.MealtimeNames)
                    {
                        if (name != Model.MealtimeChoice)
                        {
                            <option>@name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="justify-content-center">
            <button type="submit" class="btn btn-outline-info mt-2">Search</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="Category-section-user col-2">
        <div class="Header-section-user"><h6>Category</h6></div>
        <hr />
        <div>
            <ul class="navbar-nav flex-grow-1">
                @foreach (var m in Model.Mealtimes)
                {
                    @if(m.MealtimeName == Model.MealtimeChoice)
                    {
                        <!-- print category names according to the mealtime chosen by the user -->
                        @foreach(var c in m.Categories)
                        {
                            @if(c.Name == Model.CategoryChoice)
                            {
                                @*<div class="CategoryNameBg-select">*@
                                <li class="nav-item CategoryNameBg-select">
                                        <a class="nav-link CategoryNameCol-select" asp-controller="User" asp-action="index" asp-route-mealtimeChoice="@Model.MealtimeChoice" asp-route-categoryChoice="@c.Name"><h7 class="subCategory">@c.Name</h7></a>
                                    </li>
                                @*</div>*@
                            }
                            else
                            {
                                @*<div class="CategoryNameBg-nselect">*@
                                <li class="nav-item CategoryNameBg-nselect">
                                        <a class="nav-link CategoryNameCol-nselect" asp-controller="User" asp-action="index" asp-route-mealtimeChoice="@Model.MealtimeChoice" asp-route-categoryChoice="@c.Name"><h7 class="subCategory">@c.Name</h7></a>
                                    </li>
                                @*</div>*@
                            }
                            
                            
                        }
                    }
                }
            </ul>
        </div>
    </div>
    
    <div class="Details col-8">
        <div>
            <div class="Header-section-user"><h6>Details</h6></div>
            <hr />
            <div class="row text-center justify-content-center">
                @foreach (var m in Model.Mealtimes)
                {
                    @if (m.MealtimeName == Model.MealtimeChoice)
                    {
                        @foreach (var c in m.Categories)
                        {
                            if (c.Name == Model.CategoryChoice)
                            {
                                <!-- print products according to the category chosen by the user -->
                                @foreach (var p in c.Products)
                                {
                                    <div class="Product-block col-sm-6 col-md-3 col-lg-3">
                                        @if (p.CategoryName == "Алкоголь")
                                        {
                                            <h6><span class="fa-solid fa-wine-bottle fa-shake fa-2x orange"></span> @p.ProductName</h6>
                                        }
                                        else
                                        {
                                            <h6>@p.ProductName</h6>
                                        }
                                        <hr />
                                        <div class="row justify-content-center">
                                            <div class="Product-block01 col-12"><p>Gramms: <strong>@p.Gramms g</strong></p></div>
                                            <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Protein <strong>@p.Protein</strong></p></div>
                                            <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Fats <strong>@p.Fats</strong></p></div>
                                            <div class="Product-block02 col-sm-6 col-md-6 col-lg-6"><p>Carbs <strong>@p.Carbs</strong></p></div>
                                            <div class="Product-block03 col-sm-6 col-md-6 col-lg-6"><p>Calories <strong>@p.Calories</strong></p></div>
                                        </div>
                                
                                        <form asp-controller="User" asp-action="EditUserProduct">
                                            <button type="submit" class="btn btn-outline-dark mt-3">Edit</button>
                                            <input type="hidden" name="MealtimeChoice" value="@Model.MealtimeChoice" />
                                            <input type="hidden" name="ProductName" value="@p.ProductName" />
                                            <input type="hidden" name="Gramms" value="@p.Gramms" />
                                            <input type="hidden" name="Protein" value="@p.Protein" />
                                            <input type="hidden" name="Fats" value="@p.Fats" />
                                            <input type="hidden" name="Carbs" value="@p.Carbs" />
                                            <input type="hidden" name="Calories" value="@p.Calories" />
                                            <input type="hidden" name="CatName" value="@p.CategoryName" />
                                        </form>

                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="Result-section-user col-2">
        <div class="Header-section-user"><h6>Result</h6></div>
        <hr />
        <!-- Turquoise -->
        <label>CAT</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:@Model.ProgressBarC%">@Model.ProgressBarC%</div>
        </div>
        <br />
        <label>MT</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:@Model.ProgressBarMT%">@Model.ProgressBarMT%</div>  
        </div>
        <br />
    </div>
</div>

